<div id="image">
   
    <marquee behavior="scroll" direction="left" scrollamount="8" class="milk-marquee">
        🥛 Discover the Richness of Fresh Milk, Creamy Cheeses, and Delicious Yogurt!🥛 Fresh Milk | 🧈 Butter | 🧀 Cheese | 🍶 Yogurt | 🥘 Paneer | 🍨 Cream | 🍯 Ghee and  Shop Now for High-Quality Dairy Products! 🧀
    </marquee>
    <div id="list">
    <h1>" Fresh & Nutritious Dairy Products for Every Meal "</h1>
    <p>Discover the finest selection of fresh, high-quality dairy products, handpicked to bring nutrition and taste to your table. Whether you’re looking for creamy milk, delicious cheeses, or healthy yogurt, we’ve got everything you need to enrich your meals.</p>
    <br>
    <!-- <a routerlink = "main" routerLinkActive="active"><button>Get Started</button></a> -->
    <button routerLink="/home-page">Get Started</button>

    

    <!-- <mat-icon aria-hidden="false" aria-label="Example brush icon" fontIcon="brush"></mat-icon> -->
    </div>
</div>



